<html>
  <head>
    <link rel='stylesheet' href='assets/bootstrap.min.css' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='assets/font-awesome.min.css' type='text/css'>
    <link rel='stylesheet' href='assets/animate.min.css' type='text/css'>
    <link rel='stylesheet' href='assets/creative.css' type='text/css'>
  </head>

<%= render partial: "/partials/navbar" %>

  <section>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h1 class='section-heading'>Dashboard</h1>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-4 col-md-6 text-center'>
          <h3>Stream</h3>
          <p class='text-muted'>
          <% @messages.reverse.each do |message| %>
            <div class='text'>
              <%= link_to message.from, find_healthcare_worker(message) %>:<br>
              <%= message.body %>
            </div>
          <% end %>
          </p>
        </div>
        <div class='col-lg-4 col-md-6 text-center stats'>
          <h3>Stats</h3>
          <div class='text-muted'>
            Total Messages Sent: <%= @messages.count                                            %><br><br><hr>
            Emergencies:         <%= @messages.select {|m| m if m.keyword == 'Emergency'}.count %><br><br><hr>
            Broadcasts:          <%= @messages.select {|m| m if m.keyword == 'Broadcast'}.count %><br><br><hr>
            API Calls:           <%= @messages.select {|m| m if m.keyword == 'API'}.count       %> <br><br><hr>
            Agents:              <%= Agent.all.count                                            %> <br><br><hr>
            Tecnicos:            <%= Tecnico.all.count                                          %> <br><br><hr>
          </div>
        </div>
        <div class='col-lg-4 col-md-6 text-center'>
          <h3>Send Message</h3>
          <div class='text-muted'>
            <%= form_tag '/twilio/send_text', method: :post do %>
              <%= text_field_tag 'to', '', placeholder: 'Phone Number' %><br><br>
              <%= text_field_tag 'body', '', placeholder: 'Text Body' %><br><br>
              <%= submit_tag 'Send' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src='assets/jquery.js'></script>
  <script src='assets/bootstrap.min.js'></script>
  <script src='assets/jquery.easing.min.js'></script>

