<br>
<br>
<br>
<br>
<div class="col-lg-6">
  <h4>Name: <%= healthcare_worker.name %></h4><br><br>
  <h4>Phone Number: <%= healthcare_worker.phone_number %></h4><br><br>
  <h4>Messages: <%= healthcare_worker.messages.count %></h4><br><br>
</div>
<div class="col-lg-6">
  <h4>Stream</h4> <br>
  <% healthcare_worker.messages.each do |message| %>
    <%= message.body %>
    <%= message.to   %>
  <% end %>
</div>
